<!DOCTYPE html>
<html>
<head>
  <title>AngularPresentation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
